<%- include('../partials/header') %>

<body>
    <body>
        <table>
          <thead>
            <tr>
              <th>Airline</th>
              <th>Airport</th>
              <th>Flight Number</th>
              <th>Departure</th>
            </tr>
          </thead>
          <tbody>
            <% flights.forEach(function(f) { %>
            <!-- Write the line of EJS to iterate over movies using forEach -->
              <tr>
                <td><%= f.airline %></td>
                <td><%= f.airport %></td>
                <td><%= f.flightNo %></td>
                <td><%= f.departure %></td>
                <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
              </tr>
              <% }); %>
            <!-- Close the forEach using EJS here -->
          </tbody>
        </table>
    
</body>

<%- include('../partials/footer') %>